.Toolbar {
    height: 56px;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    background-color: lightgray ;
    padding: 0;
    box-sizing: border-box;
    z-index: 90;
}

.Toolbar nav {
    height: 100%;
}
