.Form {
    padding-top: 50px;
    margin:auto;
    width:350px;
    height: 750px;
}

.Form input {
    width: 90%;
    margin:auto;
    padding: 15px 0px;
    border: 1px solid lightgray;
}

.Button {
    width: 25%;
    height: 50px;
    background-color: orange;
}