.NavigationItem {
    margin: 0;
    display: flex;
    height: 100%;
    width: auto;
    align-items: center;
}
    
.NavigationItem a {
    color: black;
    padding: 0 15px;
    height: 100%;
    text-decoration: none;  
    width: 100%;
    box-sizing: border-box;
    display: block;
    line-height: 56px;
    text-align: center;
}

.Span {
    display: inline-block;
    vertical-align: middle;
}
    
.NavigationItem a:hover {
    background-color: rgba(130, 132, 134, 0.89);
    color: black;
} 

.NavigationItem a:active, 
.NavigationItem a.active {
    background-color: white;
    color: black;
}
    
