.Book {
    margin:auto;
    padding-top: 35px;
    width:600px;
}

.Paragraph {
    text-align: left;
    background-color: rgb(250, 250, 250);
    border: 1px solid black;
    margin: auto;
    height: 50px;
}
.Button {
    width: 25%;
    background-color: orange;
    border: 2px solid black;
    border-radius: 2px;
    height: 50px;
}

.Button:active,
.Button:hover {
    cursor: pointer;
}